<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-honeywell-printer" 
	version="1.0.1" >
	<name>HoneywellPrinter</name>
	<description>Cordova Honeywell socket command sender plugin</description>
	<license>Apache 2.0</license>
    <keywords>cordova,Honeywell,printer,pt42c</keywords>
	<js-module name="HoneywellPrinter" src="www/HoneywellPrinter.js">
		<clobbers target="HoneywellPrinter" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="HoneywellPrinter">
				<param name="android-package" value="honeywell.printer.HoneywellPrinter" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/HoneywellPrinter.java" target-dir="src/honeywell/printer" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="HoneywellPrinter">
				<param name="ios-package" value="HoneywellPrinter" />
			</feature>
		</config-file>
		<source-file src="src/ios/HoneywellPrinter.m" />
	</platform>
</plugin>
